<%- include('../includes/header.ejs') %>

<!-- Custom styles for this template -->

<link href="/css/today.css" rel="stylesheet" type="text/css">
<!-- eturns the number of elements in that array , in that case if tasks is > 0 return the value in the array -->
<% if (tasks.length > 0) { %>
<!-- create a for cycle of task  -->   
    <% for (let task of tasks) { %>
        <div class="card">

        <div class="card-header">
            Task created <%= task.createdAt %>  <!-- card title (date) -->
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= task.title %></h5> <!-- task title -->
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> <!-- detail task  -->
            <a href="#" class="btn btn-light"> <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
             <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
             </svg> 
            </a>  <!-- btn line  -->
            <a href="#" class="btn btn-light"> <svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg> </a> 
            
            
        </div>
        </div>
    <% } %>
<% } else { %>

<% } %>

<%- include('../includes/footer.ejs') %>